@page "/restore"
@attribute [AllowAnonymous]
@inject IUserService userService

<div class="main">
    <div class="content px-4">


        <!-- ========== MAIN ========== -->
        <main id="content" role="main">

            <!-- Login Form -->
            <div class="container space-top-2 space-top-md-3">
                <div class="col-lg-5 col-md-5 mx-md-auto">
                    <!-- Title -->
                    <div class="mb-7">
                        <h2 class="h3 text-primary font-weight-normal mb-3 mt-3">Restaurar Contraseña</h2>
                    </div>
                    <!-- End Title -->

                    <div class="js-form-message form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" @bind-value="@email" />
                    </div>

                    <div class="row align-items-center mb-5">
                        <div class="col-5 col-sm-6">
                        </div>

                        <div class="col-7 col-sm-6 text-right">
                            <button type="submit" class="primary-btn transition-3d-hover" style="border:0" @onclick="Restore">Restaurar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Login Form -->
        </main>
        <!-- ========== END MAIN CONTENT ========== -->

    </div>
</div>



@code{

    private string email { get; set; }

    private async Task Restore()
    {
        await userService.RestorePassword(email);
    }

}
