@page "/about"
@attribute [AllowAnonymous]


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section" style="background-color: darkcyan;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Acerca de nosotros</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row mb-5">
            <p>Somos una tienda especializada en equipos tecnológicos relacionados con la telefonía móvil. Desde 2019 estamos 
            brindando nuestros servicios. Desde 2022 estamos ya en la web para recibir pedidos online. Tenemos un gran catálogo 
            de productos para que puedas encontrar aquí todo lo que necesitas desde la comodidad de tu casa. Nuestra red de distribuidores 
            trabaja día y noche para llevarte los productos en el menor tiempo posible. Únete a nosotros y sé parte de esta experiencia.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Teléfono</h4>
                    <p>+53 53604366</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Dirección</h4>
                    <p>Calle 5 % 14 y 16, Coliseo</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Horario</h4>
                    <p>10:00 am a 05:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Correo</h4>
                    <p>onlinestore@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<div class="col-md-12 mb-5">
    <div class="row">
        <div class="col-md-12 mb-4 mt-4 transition-3d-hover mx-md-auto">
            <div class="admin-shadow h-100 py-4" style="background-color: dodgerblue;color: white;font-size: large;border-radius: 10px;">
                <div class="">
                    <div class="row no-gutters align-items-center">
                        <div style="text-align: center;" class="col mr-2">
                            <div class="mb-4">
                                <h3 style="font-weight: bold; color: white">Gerente y Programador</h3>
                            </div>
                            <div style="padding-left:2em; padding-bottom: 1em">
                                <img class="img-thumbnail" style="border-radius: 100px;" src="/img/he.jpg" width="150">
                            </div>
                            <div style="padding-left:1em;">
                                <strong>Nombre:</strong> <samp>Henry Obregón Mena</samp><br>
                                <strong>Edad:</strong> <samp>@(DateTime.Now.Year - 1991)</samp><br>
                                <strong>Residencia:</strong> <samp>Cuba</samp><br>
                                <strong>WhatsApp:</strong> <samp>+53 53604366</samp>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
