@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

    <style>
        @@media (min-width: 768px) {
            app {
                flex-direction: row;
            }
        }
    </style>

<div class="sidebar hideWhenPrint" style="width:auto">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index:100">
        <LoginDisplay />
        <AuthorizeView>
            @if (context.User.Identity.IsAuthenticated)
            {
                <AutoLogout Roles="@(new List<string>() { "Admin", "Delivery", "Worker" })" />
            }
        </AuthorizeView>
        <a href="/about" target="_self"><span class="oi oi-code" aria-hidden="true"></span></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<div style="z-index:10000000000">
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="3" />
</div>
