@inject ICartService cartService

    <ul>
        <li>
            <a href="shopping-cart">
                <i class="fa fa-shopping-bag"></i>
                <span>@qty</span>
            </a>
        </li>

    </ul>
<div class="header__cart__price">total: <span>$@total_amount</span></div>

@code{
    [Inject]
    public ComponentStateChangedObserver Observer { get; set; } = null!;

    private int qty { get; set; }
    private decimal total_amount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Observer.OnStateChanged += UpdateCountAsync;
        await UpdateCountAsync();
    }

    Task UpdateCountAsync() =>
        InvokeAsync(async () =>
        {
            qty = await cartService.GetCount();
            total_amount = await cartService.GetTotalAmount();
            StateHasChanged();
        });

}