@inject NavigationManager navi

<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Dirección: Calle 5, Coliseo</li>
                        <li>Teléfono: +53 53604366</li>
                        <li>Correo: onlinestore@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Vínculos de ayuda</h6>
                    <ul>
                        <li><a href="about" @onclick="@(()=>navi.NavigateTo("about", true))">Acerca de</a></li>
                        <li><a href="contact" @onclick="@(()=>navi.NavigateTo("contact", true))">Contacto</a></li>
                        <li><a href="contact" @onclick="@(()=>navi.NavigateTo("legal", true))">Privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Únase a nuestro boletín</h6>
                    <p>Obtenga las últimas ofertas en su correo.</p>
                    <form action="#">
                        <input type="text" placeholder="Ingrese su correo">
                        <button type="submit" class="site-btn">Subscribirse</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="https://facebook.com/onlinestore" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            2022 Todos los derechos reservados
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>