<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="header__top__left">
                    <ul>
                        <li><i class="fa fa-envelope"></i> onlinestore@gmail.com</li>
                        <li>Envíos gratis en Matanzas a partir de $5000</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__top__right">
                    <div class="header__top__right__social">
                        <a href="https://facebook.com/onlinestore" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="header__top__right__auth">
                        <a href="login"><i class="fa fa-user"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>