@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<!-- Humberger Begin -->
<MobileMenu />
<!-- Humberger End -->
<!-- Header Section Begin -->
<header class="header" style="border-bottom: 0px">
    <LoginMenu />
    <MainMenu />
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<NavigationMenu />

@Body

<!-- Footer Section Begin -->
<Footer />
<!-- Footer Section End -->

<div style="z-index:10000000000">
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="3" />
</div>
