@inject IJSRuntime JS


<div class="humberger__menu__overlay" @onclick="MobileMenuClose"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <CartDisplay />
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            <AuthorizeView>
                <Authorized>
                    <div>
                        <a href="/editar-cuenta">Hola, <strong>@Name!</strong> </a>
                    </div>
                    <div class="mt-2">
                        <a href="/salir" style="color: red; font-weight:bold">Salir <i class="fa fa-sign-out"></i></a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="login"><i class="fa fa-user"></i> Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./">Inicio</a></li>
            <li><a href="./shop-grid">Tienda</a></li>
            <li><a href="./contact">Contacto</a></li>
            @*<li>
                <a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
                </li>*@
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> onlinestore@gmail.com</li>
            <li>Envíos gratis en Matanzas a partir de $5000 </li>
        </ul>
    </div>
</div>

@code{

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    private string Name { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var user = (await AuthStat).User;
        var claims = user.Claims;
        try
        {
            Name = claims.First(x => x.Type.Contains("givenname")).Value;
        }
        catch
        {
            Name = "";
        }
    }

    private async Task MobileMenuClose()
    {
        await JS.InvokeVoidAsync("humberger__menu__overlay");
    }

}