@inject NavigationManager navi

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" @onclick="@(()=>HandleClick(""))"><i class="rzi rz-navigation-item-icon" style="width: 1em">storefront</i>OnlineStore</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <RadzenPanelMenu Style="border-bottom: none">
            <RadzenPanelMenuItem Text="Home" Path="/admin" Icon="home" Style="border-bottom: none" />
            <RadzenPanelMenuItem Text="Órdenes" Path="/admin/orders" Icon="local_shipping" Style="border-bottom: none"></RadzenPanelMenuItem>
            <AuthorizeView Roles="Admin">
                <RadzenPanelMenuItem Text="Pagos" Path="/admin/payments" Icon="payment" Style="border-bottom: none"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Usuarios" Path="/admin/users" Icon="account_box" Style="border-bottom: none"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Almacén" Icon="warehouse" Style="border-bottom: none">
                    <RadzenPanelMenuItem Text="Categorías" Path="/admin/categories" Icon="category"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Marcas" Path="/admin/brands" Icon="sell"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Modelos" Path="/admin/models" Icon="device_unknown"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Productos" Path="/admin/products" Icon="list_alt"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Productos Destacados" Path="/admin/featured-products" Icon="stars"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Gráficas" Path="/admin/analytics" Icon="analytics" Style="border-bottom: none"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Provincias" Path="/admin/provinces" Icon="location_on" Style="border-bottom: none"></RadzenPanelMenuItem>
            </AuthorizeView>
        </RadzenPanelMenu>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void HandleClick(string link)
    {
        navi.NavigateTo(link, true);
    }
}
