<EditForm Model="@search_obj" OnValidSubmit="@OnValidSubmit">
    <div class="row">
        <div>
            <InputText placeholder="Buscar" class="form-control admin-form-control-sm" @bind-Value="@search_obj.Search_text"></InputText>
        </div>
        <div>
            <button type="submit" class="btn admin-btn-sm btn-info"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span></button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public SearchFilter search_obj { get; set; } = new SearchFilter();
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}